.wrapper
  width: 100vw
  height: 100vh
  background-color: #111142

.block_wrapper
  position: absolute
  top: 2%
  left: 2%
  width: 97%
  height: 96%

.pipe_wrapper
  position: absolute
  left: 0
  top: 0
  z-index: 100
  overflow: hidden
  width: 100vw
  height: 100vh
  pointer-events: none
  img
    position: absolute

.vertical_left
  left: -3px
  width: 2%
  height: 150%
  top: 0

.vertical_right
  right: -3px
  width: 2%
  height: 150%
  top: 0

.horizontal
  top: 0
  left: 0%
  width: 101%
  height: 2%

.debug
  position: absolute
  width: 10px
  height: 10px
  background-color: red
  z-index: 200

.debugcirc
  position: absolute
  width: 40px
  height: 40px
  border: 1px solid blue
  border-radius: 50%
  z-index: 200

.hidden
  display: none

.pause_btn
  background-image: url("/assets/ui/ufo-button-pause.png")
  background-size: 100%
  position: absolute
  width: 40px
  height: 40px
  z-index: 200
  top: 10px
  left: 10px
  cursor: pointer

  &:hover
    background-image: url("/assets/ui/ufo-button-pause-hover.png")

  &:active
    background-image: url("/assets/ui/ufo-button-pause.png")
    filter: brightness(50%)

.pause_menu, .main_menu
  position: absolute
  left: 1.5%
  top: 2%
  width: 97%
  height: 96%
